body{
  font-family: PT Sans Narrow;

}

.menu-main {
  font-size: 16pt;
}

.section-three{

}

.logo{
  по центру
}

.caption{
    font-size: 30pt;
}

.article-item{

}

.price{

}

.button-black {

}

p .description-item {ВНИЗУ ПРОПУСК

}

.list-romb {

}

p .black-button {

}
